@keyframes animateA {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(calc(-50% + 500px), -50%) scale(0.75);
        opacity: 0;
    }
}

@keyframes animateB {
    from {
        transform: translate(calc(-50% - 500px), -50%) scale(0.75);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadingA {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes fadingB {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: none;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#maingame,
#minigame,
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#loading {
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 3em;
    z-index: 100;
}

#maingame {
    display: block;
}

#minigame,
#loading {
    display: none;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#options .fadeB {
    animation-name: fadingB;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: steps(300);
    animation-iteration-count: 1;
}

#minigame.segregation {
    /* image background */
    background: url("imgs/others/floorv2.png");
}

body[showtype="minigame"] #minigame {
    display: block;
}

body[showtype="loading"] #loading {
    display: flex;
}


body[showtype="loading"] #maingame,
body[showtype="minigame"] #maingame {
    display: none;
}

button.rubbishCan {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    position: fixed;
    right: 10px;
    cursor: pointer;
}

img.toCan {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: animateA;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1ms;
    animation-timing-function: cubic-bezier(0, .87, .46, .99);
}

img.toCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: animateB;
    animation-duration: 250ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, .87, .46, .99);
}

#bottomtext {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.shakeAnimation {
    animation-name: shake;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.bounceAnimation {
    animation-name: bounce;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

span.fading {
    animation-name: fadingA;
    animation-duration: 1000ms;
    animation-delay: calc(var(--i) * 100ms);
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}

.fadingb {
    animation-name: fadingB;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: steps(10);
    animation-iteration-count: 1;
}

.iteminfo {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
    pointer-events: none;
}

.scaleOnHover {
    scale: 1
}

.scaleOnHover:hover {
    scale: 1.1
}

/*pixel-style button*/
button {
    background-color: #000000;
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    transition: all steps(5) .25s;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}